@font-face {
    font-family: iransans;
    src: url("https://novelvo.github.io/cdn.novelvo.ir/firstpage/font/iransans/iransans.ttf");
    /* src: url("../../font/iransans/iransans.ttf"); */
}

@font-face {
    font-family: vazir;
    src: url("../../font/vazir/Vazir.ttf");
}

body {
    overflow-x: hidden;
    text-align: right;
    direction: rtl;
}
